
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');

body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h3 {
    color: rgba(7, 172, 172, 0.664);
}

.artist{
    font-weight: bold;
}

.song{
    font-style: italic;
}

div {
    box-shadow: 4px 5px 8px 5px #aaaaaa;
    margin: 3em;
    position: absolute;
    padding: 1em 1em 1em 1em;
    transform: rotate(-7deg);
    top: 15%;
    left: 30%;
}

